<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title>focused-attention-web 0.1.0 | Documentation</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link href='assets/bass.css' rel='stylesheet' />
  <link href='assets/style.css' rel='stylesheet' />
  <link href='assets/github.css' rel='stylesheet' />
  <link href='assets/split.css' rel='stylesheet' />
</head>
<body class='documentation m0'>
    <div class='flex'>
      <div id='split-left' class='overflow-auto fs0 height-viewport-100'>
        <div class='py1 px2'>
          <h3 class='mb0 no-anchor'>focused-attention-web</h3>
          <div class='mb1'><code>0.1.0</code></div>
          <input
            placeholder='Filter'
            id='filter-input'
            class='col12 block input'
            type='text' />
          <div id='toc'>
            <ul class='list-reset h5 py1-ul'>
              
                
                <li><a
                  href='#firebase'
                  class=" toggle-sibling">
                  Firebase
                  <span class='icon'>▸</span>
                </a>
                
                <div class='toggle-target display-none'>
                  
                  
                    <ul class='list-reset py1-ul pl1'>
                      <li class='h5'><span>Instance members</span></li>
                      
                      <li><a
                        href='#firebasedocreateuserwithemailandpassword'
                        class='regular pre-open'>
                        #doCreateUserWithEmailAndPassword
                      </a></li>
                      
                      <li><a
                        href='#firebasedosigninwithemailandpassword'
                        class='regular pre-open'>
                        #doSignInWithEmailAndPassword
                      </a></li>
                      
                      <li><a
                        href='#firebasedosignout'
                        class='regular pre-open'>
                        #doSignOut
                      </a></li>
                      
                      <li><a
                        href='#firebasedopasswordreset'
                        class='regular pre-open'>
                        #doPasswordReset
                      </a></li>
                      
                      <li><a
                        href='#firebasedopasswordupdate'
                        class='regular pre-open'>
                        #doPasswordUpdate
                      </a></li>
                      
                      <li><a
                        href='#firebasesetgameadjustmentforpc'
                        class='regular pre-open'>
                        #setGameAdjustmentForPc
                      </a></li>
                      
                      <li><a
                        href='#firebasegetallpcforclinic'
                        class='regular pre-open'>
                        #getAllPcForClinic
                      </a></li>
                      
                      <li><a
                        href='#firebasecreatepcinfirestore'
                        class='regular pre-open'>
                        #createPcInFirestore
                      </a></li>
                      
                      <li><a
                        href='#firebasegetalldoctors'
                        class='regular pre-open'>
                        #getAllDoctors
                      </a></li>
                      
                      <li><a
                        href='#firebasecreatepcfordoctor'
                        class='regular pre-open'>
                        #createPcForDoctor
                      </a></li>
                      
                      <li><a
                        href='#firebasegetallpatientsfordoctor'
                        class='regular pre-open'>
                        #getAllPatientsForDoctor
                      </a></li>
                      
                      <li><a
                        href='#firebasegetallexperimentswithpatientid'
                        class='regular pre-open'>
                        #getAllExperimentsWithPatientId
                      </a></li>
                      
                      <li><a
                        href='#firebasegetallexperimentswithpatientidandgamescenario'
                        class='regular pre-open'>
                        #getAllExperimentsWithPatientIdandGameScenario
                      </a></li>
                      
                      <li><a
                        href='#firebasecreatepatientfordoctor'
                        class='regular pre-open'>
                        #createPatientForDoctor
                      </a></li>
                      
                      <li><a
                        href='#firebasegetallexperimentresults'
                        class='regular pre-open'>
                        #getAllExperimentResults
                      </a></li>
                      
                      <li><a
                        href='#firebaseprocessallexperiments'
                        class='regular pre-open'>
                        #processAllExperiments
                      </a></li>
                      
                      <li><a
                        href='#firebasecalculateavgresultforexperiment'
                        class='regular pre-open'>
                        #calculateAvgResultForExperiment
                      </a></li>
                      
                      <li><a
                        href='#firebaseprocessanexperiment'
                        class='regular pre-open'>
                        #processAnExperiment
                      </a></li>
                      
                      <li><a
                        href='#firebasecalculateaveragetrialvaluesinblock'
                        class='regular pre-open'>
                        #calculateAverageTrialValuesInBlock
                      </a></li>
                      
                    </ul>
                  
                  
                  
                </div>
                
                </li>
              
            </ul>
          </div>
          <div class='mt1 h6 quiet'>
            <a href='https://documentation.js.org/reading-documentation.html'>Need help reading this?</a>
          </div>
        </div>
      </div>
      <div id='split-right' class='relative overflow-auto height-viewport-100'>
        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='firebase'>
      Firebase
    </h3>
    
    
  </div>
  

  <p>This class contains all the utilty methods for the Firebase
authentication and C.R.U.D operations.</p>

    <div class='pre p1 fill-light mt0'>new Firebase()</div>
  
  

  
  
  
  
  
  

  

  

  

  

  

  

  
    <div class='py1 quiet mt1 prose-big'>Instance Members</div>
    <div class="clearfix">
  
    <div class='border-bottom' id='firebasedocreateuserwithemailandpassword'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>doCreateUserWithEmailAndPassword</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method creates authenticated user in firebase project.</p>

    <div class='pre p1 fill-light mt0'>doCreateUserWithEmailAndPassword</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>email</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user email

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>password</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user password

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasedosigninwithemailandpassword'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>doSignInWithEmailAndPassword</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method signes in the user with the email and password.</p>

    <div class='pre p1 fill-light mt0'>doSignInWithEmailAndPassword</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>email</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user email

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>password</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user password

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasedosignout'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>doSignOut</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method signs out the user in the firebase auth context.</p>

    <div class='pre p1 fill-light mt0'>doSignOut</div>
  
  

  
  
  
  
  
  

  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasedopasswordreset'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>doPasswordReset</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method resets the password with given email.</p>

    <div class='pre p1 fill-light mt0'>doPasswordReset</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>email</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user_email

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasedopasswordupdate'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>doPasswordUpdate</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method updates the password for the current user in auth context.</p>

    <div class='pre p1 fill-light mt0'>doPasswordUpdate</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>password</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    user_password

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasesetgameadjustmentforpc'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>setGameAdjustmentForPc(gameAdjustmentObject, pcId)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>This method updates the game adjustment instance in firebase with given pcId.</p>

    <div class='pre p1 fill-light mt0'>setGameAdjustmentForPc(gameAdjustmentObject: GameAdjustment, pcId: DocumentId)</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>gameAdjustmentObject</span> <code class='quiet'>(GameAdjustment)</code>
	    
          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>pcId</span> <code class='quiet'>(DocumentId)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetallpcforclinic'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllPcForClinic</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Gets all computers with given clinicId</p>

    <div class='pre p1 fill-light mt0'>getAllPcForClinic</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>clinicId</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code>QuerySnapshot</code>:
        

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasecreatepcinfirestore'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>createPcInFirestore</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Inserts computer into Cloud Firestore.</p>

    <div class='pre p1 fill-light mt0'>createPcInFirestore</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>clinicId</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    
          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>uid</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    UserId in firebase

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>pcName</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    Pc name in the clinic

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetalldoctors'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllDoctors</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>get all doctors from firebase</p>

    <div class='pre p1 fill-light mt0'>getAllDoctors</div>
  
  

  
  
  
  
  
  

  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code>QuerySnapshot</code>:
        Doctors

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasecreatepcfordoctor'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>createPcForDoctor</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Create pc with authenticated user's alies.</p>

    <div class='pre p1 fill-light mt0'>createPcForDoctor</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>pcName</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    Name of the pc

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetallpatientsfordoctor'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllPatientsForDoctor</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Get all patients for authenticated doctor.</p>

    <div class='pre p1 fill-light mt0'>getAllPatientsForDoctor</div>
  
  

  
  
  
  
  
  

  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></code>:
        AllPatientsQuerySnapshot

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetallexperimentswithpatientid'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllExperimentsWithPatientId</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Get all the experiments with given patientId.</p>

    <div class='pre p1 fill-light mt0'>getAllExperimentsWithPatientId</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>patientId</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></code>:
        QuerySnapshot Experiments

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetallexperimentswithpatientidandgamescenario'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllExperimentsWithPatientIdandGameScenario(patientId, gameScenario)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Gets all experiments of the given patientId and gameScenario</p>

    <div class='pre p1 fill-light mt0'>getAllExperimentsWithPatientIdandGameScenario(patientId: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>, gameScenario: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>): <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>patientId</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    
          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>gameScenario</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">string</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></code>:
        QuerySnapshot Experiment

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasecreatepatientfordoctor'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>createPatientForDoctor</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Creates patient for authenticated doctor.</p>

    <div class='pre p1 fill-light mt0'>createPatientForDoctor</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>patient</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>)</code>
	    Patient object.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasegetallexperimentresults'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>getAllExperimentResults(experiments)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Processes all experiments and return results.</p>

    <div class='pre p1 fill-light mt0'>getAllExperimentResults(experiments: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;Experiments>): <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;ExperimentResults></div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>experiments</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;Experiments>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;ExperimentResults></code>:
        ExperimentResults

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebaseprocessallexperiments'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>processAllExperiments(experiments)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Process each experiment in the array.</p>

    <div class='pre p1 fill-light mt0'>processAllExperiments(experiments: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;Experiments>)</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>experiments</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>&#x3C;Experiments>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasecalculateavgresultforexperiment'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>calculateAvgResultForExperiment(avgBlocks)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Calculate avgBlocks mean and sd for total experiment.</p>

    <div class='pre p1 fill-light mt0'>calculateAvgResultForExperiment(avgBlocks: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>): <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a></div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>avgBlocks</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a></code>:
        avgResult

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebaseprocessanexperiment'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>processAnExperiment(experiment)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Process an experiment and returns the experiment result to push into ResultArray.</p>

    <div class='pre p1 fill-light mt0'>processAnExperiment(experiment: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>): <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a></div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>experiment</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  
    
      <div class='py1 quiet mt1 prose-big'>Returns</div>
      <code><a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a></code>:
        experimentToPush

      
    
  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
    <div class='border-bottom' id='firebasecalculateaveragetrialvaluesinblock'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="py1 contain">
            <a class='icon pin-right py1 dark-link caret-right'>▸</a>
            <span class='code strong strong truncate'>calculateAverageTrialValuesInBlock(block)</span>
        </div>
      </div>
      <div class="clearfix display-none toggle-target">
        <section class='p2 mb2 clearfix bg-white minishadow'>

  

  <p>Calculates average trial values in given block.</p>

    <div class='pre p1 fill-light mt0'>calculateAverageTrialValuesInBlock(block: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>)</div>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>block</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/JSON">json</a>)</code>
	    
          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  

  
</section>

      </div>
    </div>
  
</div>

  

  

  
</section>

          
        
      </div>
    </div>
  <script src='assets/anchor.js'></script>
  <script src='assets/split.js'></script>
  <script src='assets/site.js'></script>
</body>
</html>
